PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/smart_city_iot
MQTT_BROKER_URL=mqtt://test.mosquitto.org
MQTT_TOPIC=smart-city-iot-dashboard/readings
SIMULATION_INTERVAL_MS=60000
